@media screen and (min-width : 0px) and (max-width : 767px){
    .contact-description{
        width:100%;
        margin:auto;
        margin-top: 10px;
        .no-user-selected{
            width:60%
        }
    }
}